.Location_Icon{
    background-color: #639de9;
    width: 30px;
    height: 35px;
    padding: 5px;
    border-radius: 100px;
    color: rgb(255, 255, 255);
}

.Footer_Section{
    background-color: #79176f;
    color: white;
}

.Footer_Section_Heading{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.Footer_Section_Paragrapg{
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.Contact_Section_Paragrapg{
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.Footer_Copyright_section{
    color: rgb(255, 255, 255);
    background-color: #3f1338;
}

